<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDInnerFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DDInnerStaticLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DDLibFrameWorkTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DDSwi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DDSwiftFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>590AEDE61FD2DA490020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEDFF1FD2DA490020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEE0A1FD2DA490020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEE611FD2E9DE0020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEE721FD2EBED0020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEE7A1FD2EBED0020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEE9A1FD2F2110020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEEA81FD2F22A0020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>590AEEB01FD2F22A0020BD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
